.dataClick {
  cursor: pointer;
  background-color: #f2dfff;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  color: #070431;

  p {
    padding: 0;
    margin: 0;

    span {
      margin-left: 10px;
    }
  }
}
