.infoService {
  background-color: #eaeaea;

  .linesClass {
    padding-top: 15px;
  }

  .allClear {
    background-color: #caffed;
    padding: 20px 10px;
  }

  .notWorking {
    padding: 20px 10px;
    background-color: #ff8a8a;
  }
}
